@use "../../styles/colors.scss";

.tag-container {
  border: 1px dashed colors.$grey;
  border-radius: 8px;
  width: 130px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: none;
  color: colors.$grey;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
